@inherits FieldComponent<AssetField, AssetFieldOptions>
@inject NavigationManager NavigationManager
@inject IImageAssetUrlService AssetPreview

<ModalWindow Title="Select asset" Show="ShowReferencePartSelector">
    <AssetList ItemSelected="ItemAdded" ListMode="EntityListMode.Single" />
</ModalWindow>

<div class="asset-field">
    <ul class="list-group">
        <li class="list-group-item">
            <div style="display:flex;justify-content:flex-end">
                <a class="btn btn-light" @onclick="(e => Navigate())"><i class="fas fa-arrow-right"></i></a>
                @if (Field.Asset != null)
                {
                    <a class="btn btn-light" href="@Field.Asset.GetDataUrl()" target="_blank"><i class="fas fa-arrow-down"></i></a>
                }
                else
                {
                    <a class="btn btn-light"><i class="fas fa-arrow-down"></i></a>
                }
                <a class="btn btn-light" @onclick="(e => OpenModal())"><i class="fas fa-plus"></i></a>
                <a class="btn btn-light" @onclick="(e => RemoveItem())"><i class="fas fa-times"></i></a>
            </div>

            @if (Field.Asset != null)
            {
                <div class="row">
                    <div class="col-lg-6">
                        @if (Field.Asset.IsImage())
                        {
                            <img src="@AssetPreview.Resize(Field.Asset, 400, 400)" style="max-height:200px" />
                        }
                        else if (Field.Asset.IsPdf())
                        {
                            <img src="@AssetPreview.Pdf(Field.Asset)" style="max-height:200px" />
                        }
                    </div>
                    <div class="col-lg-6">
                        <!-- name -->
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Name</label>
                            <div class="col-sm-8">
                                <p class="field-readonly">@Field.Asset.Name</p>
                            </div>
                        </div>

                        <!-- mimetype -->
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Mimetype</label>
                            <div class="col-sm-8">
                                <p class="field-readonly">@Field.Asset.MimeType</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </li>
    </ul>
</div>

@code {
    public bool ShowReferencePartSelector { get; set; }

    protected void Navigate()
    {
        NavigationManager.NavigateTo($"/asset/{Field.Asset.Id}");
    }

    protected void RemoveItem()
    {

    }

    public void OpenModal()
    {
        ShowReferencePartSelector = true;

        StateHasChanged();
    }

    public void ItemAdded(Asset asset)
    {
        Field.Asset = asset;

        ShowReferencePartSelector = false;

        StateHasChanged();
    }
}
