@inherits FieldComponent<AssetField, AssetFieldOptions>
@inject NavigationManager NavigationManager
@inject IImageAssetUrlService AssetPreview

@if (_init)
{
    <BSModal IsFullScreen="true" IsOpen="true" DisableAnimations="true" Style="display:block">
        <BSModalHeader OnClick="@(() => _init = false)">Select asset</BSModalHeader>
        <BSModalBody>
            <AssetList ItemSelected="ItemAdded" ListMode="EntityListMode.Single" />       
        </BSModalBody>
        <BSModalFooter>
            <BSButton Color="Color.Primary" @onclick="@(() => _init = false)">Ok</BSButton>
        </BSModalFooter>
    </BSModal>
}

    <div class="asset-field">
        <BSListGroup>
            <BSListGroupItem>
                <div style="display:flex;justify-content:flex-end">
                    <BSButton Color="Color.Light" OnClick="e => Navigate()" title="Navigate"><i class="fas fa-arrow-right"></i></BSButton>
                    @if (Field.Asset != null)
                    {
                        <BSButton Color="Color.Light" href="@Field.Asset.GetDataUrl()" target="_blank" title="Download"><i class="fas fa-arrow-down"></i></BSButton>
                    }
                    else
                    {
                        <BSButton Color="Color.Light"><i class="fas fa-arrow-down"></i></BSButton>
                    }
                    <BSButton Color="Color.Light" OnClick="(e => OpenModal())" title="Select"><i class="fas fa-plus"></i></BSButton>
                    <BSButton Color="Color.Light" OnClick="(e => RemoveItem())" title="Remove"><i class="fas fa-times"></i></BSButton>
                </div>

                @if (Field.Asset != null)
                {
                    <BSRow>
                        <div class="col-lg-6">
                            <div class="image">
                                @if (Field.Asset.IsImage())
                                {
                                    <img src="@AssetPreview.Resize(Field.Asset, 400, 150)" />
                                }
                                else if (Field.Asset.IsPdf())
                                {
                                    <img src="@AssetPreview.Pdf(Field.Asset, 400, 150)" />
                                }
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- name -->
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <p class="field-readonly">@Field.Asset.Name</p>
                                </div>
                            </div>

                            <!-- mimetype -->
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Mimetype</label>
                                <div class="col-sm-8">
                                    <p class="field-readonly">@Field.Asset.MimeType</p>
                                </div>
                            </div>
                        </div>
                    </BSRow>
                }
            </BSListGroupItem>
        </BSListGroup>
    </div>

    @code {

        private bool _init = false;

        //private BSModal LiveDemo { get; set; }

        public bool ShowReferencePartSelector { get; set; }

        protected void Navigate()
        {
            NavigationManager.NavigateTo($"asset/{Field.Asset.Id}");
        }

        protected void RemoveItem()
        {
            Field.Asset = null;
        }

        public void OpenModal()
        {
            //LiveDemo.Show();
            _init = true;
        }

        public void ItemAdded(Asset asset)
        {
            Field.Asset = asset;

            ShowReferencePartSelector = false;

            //LiveDemo.Hide();
            _init = false;

            StateHasChanged();
        }
    }
