@inherits FieldComponent<ArrayField, ArrayFieldOptions>

<div class="array-field">
    <FluentButton class="add-field"
                  IconStart="@(new Icons.Regular.Size16.Add())"
                  OnClick="e => { Field.Items.Add(Options.CreateArrayItem()); }"
                  Disabled="IsReadOnly">Add item</FluentButton>

    @if (Field.Items.Any())
    {
        int i = 1;

        @foreach (ArrayFieldItem item in Field.Items)
        {
            <div class="arrayitem-field" style="margin-top: 0.25rem">
                <FluentButton>#@(i++)</FluentButton>
                <FluentButton OnClick="e => Field.Items.MoveUp(item)" IconStart="@(new Icons.Regular.Size16.ArrowUp())" title="Up"></FluentButton>
                <FluentButton OnClick="e => Field.Items.MoveDown(item)" IconStart="@(new Icons.Regular.Size16.ArrowDown())" title="Down"></FluentButton>
                <FluentButton OnClick="e => Field.Items.Remove(item)" IconStart="@(new Icons.Regular.Size16.Delete())" title="Remove"></FluentButton>

                <ContentItemFields Content="item" Schema="Options" FieldName="@FieldName" />
            </div>
        }
    }
</div>
