@inherits FieldComponent<ArrayField, ArrayFieldOptions>

<div class="array-field">
    <MudButton class="add-field"
                  StartIcon="@Icons.Material.Filled.Add"
                  OnClick="e => { Field.Items.Add(Options.CreateArrayItem()); }"
                  Disabled="IsReadOnly">Add item</MudButton>

    @if (Field.Items.Any())
    {
        int i = 1;

        @foreach (ArrayFieldItem item in Field.Items)
        {
            <div class="arrayitem-field" style="margin-top: 0.25rem">
                <MudButton>#@(i++)</MudButton>
                <MudIconButton OnClick="e => Field.Items.MoveUp(item)" Icon="@Icons.Material.Filled.ArrowUpward" title="Up"></MudIconButton>
                <MudIconButton OnClick="e => Field.Items.MoveDown(item)" Icon="@Icons.Material.Filled.ArrowDownward" title="Down"></MudIconButton>
                <MudIconButton OnClick="e => Field.Items.Remove(item)" Icon="@Icons.Material.Filled.Delete" title="Remove"></MudIconButton>

                <ContentItemFields Content="item" Schema="Options" FieldName="@FieldName" />
            </div>
        }
    }
</div>
