@inject IDragonFlyApi Api

<MudPaper Style="min-width:10rem">
    <MudNavMenu>
        <MudText Typo="Typo.h6" Class="px-4">DragonFly</MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">CMS</MudText>
        <MudNavLink 
            Href="" 
            Icon="@Icons.Material.Filled.Dashboard"                                             
            Match="NavLinkMatch.All">Start</MudNavLink>
        @foreach (MenuItem menuItem in Api.MainMenu().Items)
        {
            <MudNavLink Href="@menuItem.Route" Icon="@menuItem.Icon">@menuItem.Title</MudNavLink>
        }
    </MudNavMenu>
</MudPaper>

@* <p>@CurrentUser</p> *@

@code {
    private bool collapseNavMenu = true;

    public string CurrentUser { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var user = await authenticationState;

        CurrentUser = $"{user.User.Identity.Name}";
    }
}
