@model BasePageModel
@inject IWebHostEnvironment Environment
@inject DataCache DataCache

<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="favicon.svg" />  
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" asp-append-version="true" />    
    <link rel="stylesheet" href="~/lib/prismjs/themes/prism.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/style.min.css" asp-append-version="true">
    <title>@Model.PageTitle</title>    
    <script src="~/lib/bootstrap/js/bootstrap.min.js" defer asp-append-version="true"></script>
    @RenderSection("head", required: false)

    @foreach (PageLayoutModel element in DataCache.PageLayouts)
    {
        @Html.Raw(element.Header)
    }
</head>
<body>
    <header>
        <div class="container">
            <div class="items">
                <partial name="_Menu.cshtml" />

                @*<img src="#" class="logo">*@
                <i class="bi bi-globe" style="font-size:2rem"></i>

            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            <div class="footer-links">
                @foreach (StandardPageModel footerPage in DataCache.FooterPages)
                {
                    <a href="~/@footerPage.Slug">@footerPage.Title</a>
                }
                <span>Copyright &copy; @DateTime.Today.Year</span>
            </div>
        </div>
    </footer>

    @RenderSection("script", required: false)

    @foreach(PageLayoutModel element in DataCache.PageLayouts)
    {
        @Html.Raw(element.Footer)
    }

</body>
</html>