@page "/webhook/{EntityId:guid}"
@page "/webhook/create"
@inherits EntityDetailComponent<WebHook>

@if (Entity != null)
{
    <div class="scroll-content">
        <h1>@Entity.Name</h1>

        <Toolbar Items="ToolbarItems"></Toolbar>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Id</label>
            <div class="col-sm-10">
                <MudTextField Value="@Entity.Id.ToString()" ReadOnly="true" Variant="Variant.Filled" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <MudTextField @bind-Value="@Entity.Name" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Event</label>
            <div class="col-sm-10">
                <MudTextField @bind-Value="@Entity.EventName" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Url</label>
            <div class="col-sm-10">
                <MudTextField @bind-Value="@Entity.TargetUrl" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Headers</label>
            <div class="col-sm-10">
                <MudButton OnClick="e => Entity.Headers.Add(new ())" StartIcon="new Icons.Regular.Size16.Add()">Add</MudButton>
                @foreach(HeaderItem header in Entity.Headers)
                {
                    <div class="row">
                        <div class="col-lg">
                            <MudTextField @bind-Value="@header.Name" Placeholder="Name" />
                        </div>
                        <div class="col-lg">
                            <MudTextField @bind-Value="@header.Value" Placeholder="Value" />
                        </div>
                        <div class="col-lg-auto">
                            <MudButton OnClick="e => Entity.Headers.Remove(header)" title="Remove" StartIcon="new Icons.Regular.Size16.Delete()" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
