@page "/schema/{EntityId:guid}"
@page "/schema/create"
@inherits EntityDetailComponent<ContentSchema>

@if (Entity != null)
{
    <div style="display:flex;flex-direction:column;height:100%" class="contentschema-detail">
        <div class="content-header">
            <h1>@Entity.Name</h1>
            <Toolbar Items="ToolbarItems"></Toolbar>
        </div>
        <div class="scroll-content">
            <EditForm Model="Entity">
                <div class="row form-group">
                    <label class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <FluentTextField @bind-Value="@Entity.Name" ReadOnly="!IsNewEntity" />
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-2 col-form-label">Preview</label>
                    <div class="col-sm-10">
                        <FluentTextField @bind-Value="@Entity.Preview.Pattern" />
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-2 col-form-label">Fields</label>
                    <div class="col-sm-10">
                        <ContentFieldsView Schema="Entity" />
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-2 col-form-label">List fields</label>
                    <div class="col-sm-10">
                        <ListFields TargetList="Entity.ListFields" SourceList="Entity.Fields.Select(x => x.Key).ToList()" />
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-2 col-form-label">Reference fields</label>
                    <div class="col-sm-10">
                        <ListFields TargetList="Entity.ReferenceFields" SourceList="Entity.Fields.Select(x => x.Key).ToList()" />
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-2 col-form-label">Query fields</label>
                    <div class="col-sm-10">
                        <ListFields TargetList="Entity.QueryFields" SourceList="Entity.Fields.Select(x => x.Key).ToList()" />
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-2 col-form-label">Order fields</label>
                    <div class="col-sm-10">
                        <OrderListFields TargetList="Entity.OrderFields" SourceList="Entity.Fields.Select(x => x.Key).ToList()" />
                    </div>
                </div>
            </EditForm>
        </div>
        <div class="footer-content">
            <div class="row">
                <div class="col-sm-4">
                    <p>Created: @Entity.CreatedAt</p>
                </div>
                <div class="col-sm-4">
                    <p>Modified: @Entity.ModifiedAt</p>
                </div>
                <div class="col-sm-4">
                    <p>Published: @Entity.PublishedAt</p>
                </div>
            </div>
        </div>
    </div>
}