<div class="row">
    <div class="col-lg-6">
        <ul class="list-group">
            @foreach (var i in TargetList)
            {
                <li class="list-group-item">
                    <div style="display:flex;align-items:center">
                        <div style="flex:1">@i.Name</div>
                        <OrderDirection Order="i"></OrderDirection>
                        <MudButton OnClick="@(e => { TargetList.MoveUp(i);  })"><i class="fas fa-arrow-up"></i></MudButton>
                        <MudButton OnClick="@(e => { TargetList.MoveDown(i); })"><i class="fas fa-arrow-down"></i></MudButton>
                        <MudButton OnClick="@(e => { TargetList.Remove(i);  })"><i class="fas fa-times"></i></MudButton>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="col-lg-6">
        <MudSelect Placeholder="Add field"
                   @bind-Value="SelectedValue">
            @foreach (var item in SourceList
            .Where(x => TargetList.Any(i => i.Name == x) == false)
            .ToArray())
            {
                <MudSelectItem Value="@item">@item</MudSelectItem>
            }
        </MudSelect>
    </div>
</div>

@code {

    [Parameter]
    public IList<FieldOrder> TargetList { get; set; }

    [Parameter]
    public IList<string> SourceList { get; set; }

    private string _selectedValue;

    private string SelectedValue
    {
        get => _selectedValue;
        set
        {
            if (_selectedValue != value)
            {
                _selectedValue = value;

                if (_selectedValue != null)
                {
                    TargetList.Add(new FieldOrder(_selectedValue, true));
                }
            }
        }
    }
}