@page "/content/{EntityType}"
@inherits ContentItemListBase

<div class="content-header">
    @if (ListMode == EntityListMode.Default)
    {
        <Toolbar Items="ToolbarItems"></Toolbar>
    }

    @*@bind:event="oninput"*@
    <input class="form-control" type="text" style="width:100%" value="@SearchPattern" @onchange="async (x) => { Page = 0; SearchPattern = x.Value.ToString(); await NavigateAsync(); }" />

    <hr />
</div>
<div class="scroll-content">
    <EditForm Model="this">
    <BSRow>
        <BSCol LG="3">
            <QuerySelector ContentItemList="@this" />
        </BSCol>
        <BSCol LG="9">
            @if (SearchResult == null)
            {
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            }
            else
            {
                <BSListGroup>

                    @foreach (var contentItem in SearchResult.Items)
                    {
                        <button class="list-group-item list-group-item-action" @onclick="x => OpenItem(contentItem)">
                            <BSRow>
                                <div class="col-lg-2">
                                    @if (contentItem.PublishedAt != null)
                                    {
                                        <i class="far fa-check-square"></i>
                                    }
                                    else
                                    {
                                        <i class="far fa-check-square" style="visibility: hidden"></i>
                                    }
                                </div>
                                @* no list fields available? Show id field only *@
                                @if (contentItem.Schema.ListFields.Any() == false)
                                {
                                    <div class="col-lg-10">
                                        @contentItem.Id
                                    </div>
                                }
                                else
                                {
                                    foreach (string field in contentItem.Schema.ListFields.Take(5))
                                    {
                                        <div class="col-lg-2">
                                            <div style="white-space: nowrap; overflow: hidden;">
                                                @{
                                                    ContentField column = contentItem.Fields[field];
                                                }

                                                @if (column is ISingleValueContentField singleValueField)
                                                {
                                                    <span>@singleValueField.Value</span>
                                                }

                                                else if (column is ReferenceField referenceField)
                                                {
                                                    @if (referenceField.ContentItem != null)
                                                    {
                                                        <ReferenceFields ContentItem="@referenceField.ContentItem" />
                                                    }
                                                }
                                                else if (column is EmbedField embedField)
                                                {
                                                    @if (embedField.ContentEmbedded != null)
                                                    {

                                                    }
                                                }
                                                else if (column is AssetField assetField)
                                                {
                                                    @if (assetField.Asset != null && assetField.Asset.IsImage())
                                                    {
                                                        <img src="@assetField.Asset.PreviewUrl" style="height:4rem;object-fit:contain" />
                                                    }
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            </BSRow>
                        </button>
                    }
                </BSListGroup>
            }
        </BSCol>
    </BSRow>
    </EditForm>
</div>
<div class="flex:0">
    @if (SearchResult != null)
    {
        <BSPagination>
            <BSPaginationItem>
                <BSPaginationLink Href="#" PaginationLinkType="PaginationLinkType.PreviousIcon" />
            </BSPaginationItem>
            @for (int i = 0; i < CountPages; i++)
            {
                int i2 = i;

                <BSPaginationItem>
                    <BSPaginationLink PaginationLinkType="PaginationLinkType.Custom" @onclick="x => Page = i2">@(i2 + 1)</BSPaginationLink>
                </BSPaginationItem>
            }
            <BSPaginationItem>
                <BSPaginationLink Href="#" PaginationLinkType="PaginationLinkType.NextIcon" />
            </BSPaginationItem>
        </BSPagination>
    }
</div>
