@page "/content/{EntityType}/{EntityId:guid}"
@page "/content/{EntityType}/create"
@page "/content/{EntityType}/create/{CloneFromEntityId:guid}"
@inherits ContentItemDetailBase

<div class="contentitem-detail">
    <CascadingValue Value="this" IsFixed="true">
        @if (Entity != null)
        {
            <div style="flex: 0">
                <h1>@Entity.Schema.Name</h1>

                <Toolbar Items="ToolbarItems"></Toolbar>
            </div>
            <div class="scroll-content" style="flex:1">
                @foreach (var validationResult in ValidationContext.Errors)
                {
                    <BSAlert Color="Color.Danger">
                        @validationResult.Message
                    </BSAlert>
                }

                <EditForm Model="Entity">
                    <BSFormGroup>
                        <BSRow>
                            <BSCol SM="2">
                                <label class="field-label">Id</label>
                            </BSCol>
                            <BSCol SM="10">
                                <div class="field">
                                    <input type="text" class="form-control" @bind-value="@Entity.Id" readonly />
                                </div>
                            </BSCol>
                        </BSRow>                        
                    </BSFormGroup>

                    <ContentItemFields Content="Entity" Schema="Entity.Schema" />
                </EditForm>
            </div>

            <div style="flex:0; padding:12px;padding-bottom:0px">
                <hr />

                <div class="row">
                    <div class="col-sm-4">
                        <p>Created: @Entity.CreatedAt</p>
                    </div>
                    <div class="col-sm-4">
                        <p>Modified: @Entity.ModifiedAt</p>
                    </div>
                    <div class="col-sm-4">
                        <p>Published: @Entity.PublishedAt</p>
                    </div>
                </div>
            </div>
        }
    </CascadingValue>
</div>