@page "/asset/{EntityId:guid}"
@page "/asset/create"
@page "/asset/create/{FolderId:guid}"
@inherits EntityDetailComponent<Asset>
@inject ComponentManager ComponentManager
@inject AssetPreviewManager AssetPreviewManager
@inject ISlugService SlugService

@if (Entity != null)
{
    <BSModal @ref="Modal" IsFullScreen="true" IsScrollable="true" IsCentered="true">
        <Header>Select folder</Header>
        <Content>
            <AssetFolderSelector FolderClicked="async x => await FolderSelected(x)" />
        </Content>
        <Footer>
            <BSButton Color="BSColor.Primary" @onclick="() => Modal.HideAsync()">Ok</BSButton>
        </Footer>
    </BSModal>

    <div class="content-header">
        <h1>Asset</h1>

        <Toolbar Items="ToolbarItems"></Toolbar>
    </div>

    <div class="scroll-content">
        <MudTabs PanelClass="pa-6">
            <MudTabPanel Text="Details">
                <div>
                    <EditForm Model="Entity">
                        <div class="row">
                            <div class="col-md-7">
                                <!-- id -->
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">ID</label>
                                    <div class="col-sm-10">
                                        <MudTextField Value="@Entity.Id" ReadOnly="true" />
                                    </div>
                                </div>

                                <!-- name -->
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Name</label>
                                    <div class="col-sm-10">
                                        <MudTextField @bind-Value="@Entity.Name" ReadOnly="true" />
                                    </div>
                                </div>

                                <!-- slug -->
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Slug</label>
                                    <div class="col-sm-10">
                                        <MudTextField Value="@Entity.Slug" @onchange="x => Entity.Slug = SlugService.Transform(x.Value.ToString())" />
                                    </div>
                                </div>

                                <!-- alt -->
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Alt</label>
                                    <div class="col-sm-10">
                                        <MudTextField @bind-value="@Entity.Alt" />
                                    </div>
                                </div>

                                <!-- mimetype -->
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Mimetype</label>
                                    <div class="col-sm-10">
                                        <MudTextField @bind-value="@Entity.MimeType" ReadOnly="true" Variant="Variant.Filled" />
                                    </div>
                                </div>

                                <!-- size -->
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Size</label>
                                    <div class="col-sm-10">
                                        <MudTextField Value="@Entity.GetFileSize()" ReadOnly="true" Variant="Variant.Filled" />
                                    </div>
                                </div>

                                <!-- folder -->

                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Folder</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            @if (Entity.Folder != null)
                                            {
                                                <MudTextField Value="@Entity.Folder.Name" ReadOnly="true" Variant="Variant.Filled" />
                                            }
                                            else
                                            {
                                                <MudTextField T="string" ReadOnly="true" Variant="Variant.Filled" />
                                            }

                                            <MudButton OnClick="x => Modal.ShowAsync()">...</MudButton>
                                        </div>
                                    </div>
                                </div>

                                <!-- description -->

                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Description</label>
                                    <div class="col-sm-10">
                                        <MudTextField AutoGrow Lines="3" @bind-Value="Entity.Description" />
                                    </div>
                                </div>

                                @foreach (var m in Entity.Metaddata)
                                {
                                    <h3>@m.Key</h3>
                                    @ComponentManager.CreateComponent(m.Value)
                                }
                            </div>
                            <div class="col-md-5">
                                @if (IsNewEntity == false)
                                {
                                    <div>
                                        <MudFileUpload T="IBrowserFile" FilesChanged="OnInputFileChange">
                                            <ActivatorContent>
                                                <MudButton Variant="Variant.Filled"
                                                           Color="Color.Primary"
                                                           StartIcon="@Icons.Material.Filled.CloudUpload">
                                                    Upload Files
                                                </MudButton>
                                            </ActivatorContent>
                                        </MudFileUpload>
                                        @* <FluentInputFile OnInputFileChange="OnInputFileChange">
                                            <ChildContent>


                                                <div>
                                                    Drag files here you wish to upload,
                                                    or <label for="my-file-uploader">browse</label>
                                                    for them<span style="color: red;">*</span>.
                                                    <br />
                                                    <em>Maximum of 1 files allowed.</em>
                                                </div>
                                            </ChildContent>
                                        </FluentInputFile> *@
                                    </div>
                                    @if (Entity.Hash != null)
                                    {
                                        @AssetPreviewManager.CreateComponent(Entity)
                                    }
                                }
                            </div>
                        </div>
                    </EditForm>
                </div>
            </MudTabPanel>
            <MudTabPanel Text="Referenced by">
                <DragonFly.Client.Pages.ContentReferences.ReferencedBy Schema="@Asset.Schema" Id="Entity.Id" />
            </MudTabPanel>
        </MudTabs>
    </div>
    <div class="footer-content">
        <div class="row">
            <div class="col-sm-4">
                <p>Created: @Entity.CreatedAt</p>
            </div>
            <div class="col-sm-4">
                <p>Modified: @Entity.ModifiedAt</p>
            </div>
            <div class="col-sm-4">
                <p>Published: @Entity.PublishedAt</p>
            </div>
        </div>
    </div>
}

@code {
    private BSModal Modal;

    private async Task FolderSelected(AssetFolder folder)
    {
        await Modal.HideAsync();

        Entity.Folder = folder;

        StateHasChanged();
    }
}