@page "/asset/{EntityId:guid}"
@page "/asset/create"
@page "/asset/create/{FolderId:guid}"
@inherits EntityDetailComponent<Asset>
@inject ComponentManager ComponentManager
@inject AssetPreviewManager AssetPreviewManager
@inject ISlugService SlugService

@if (Entity != null)
{
    <BSModal @ref="Modal" IsFullScreen="true" IsScrollable="true" IsCentered="true" Size="Size.ExtraLarge">
        <Header>Select folder</Header>
        <Content>
            <AssetFolderSelector FolderClicked="async x => await FolderSelected(x)" />
        </Content>
        <Footer>
            <BSButton Color="BSColor.Primary" @onclick="() => Modal.HideAsync()">Ok</BSButton>
        </Footer>
    </BSModal>

    <div class="content-header">
        <h1>Asset</h1>

        <Toolbar Items="ToolbarItems"></Toolbar>
    </div>

    <div class="scroll-content">
        <BSNav IsTabs="true" IsPills="true" style="margin-bottom: 1.5rem;">
            <BSNavItem>
                <TabLabel>Details</TabLabel>
                <TabContent>
                    <div class="">
                        <EditForm Model="Entity">
                            <BSRow>
                                <div class="col-md-6">

                                    <!-- id -->
                                    <div class="form-group">
                                        <BSRow>
                                            <label class="col-sm-2 col-form-label">ID</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" @bind-value="@Entity.Id" readonly />
                                            </div>
                                        </BSRow>
                                    </div>

                                    <!-- name -->
                                    <div class="form-group">
                                        <BSRow>
                                            <label class="col-sm-2 col-form-label">Name</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" @bind-value="@Entity.Name" />
                                            </div>
                                        </BSRow>
                                    </div>

                                    <!-- slug -->
                                    <div class="form-group">
                                        <BSRow>
                                            <label class="col-sm-2 col-form-label">Slug</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" value="@Entity.Slug" @onchange="x => Entity.Slug = SlugService.Transform(x.Value.ToString())" />
                                            </div>
                                        </BSRow>
                                    </div>

                                    <!-- alt -->
                                    <div class="form-group">
                                        <BSRow>
                                            <label class="col-sm-2 col-form-label">Alt</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" @bind-value="@Entity.Alt" />
                                            </div>
                                        </BSRow>
                                    </div>

                                    <!-- mimetype -->
                                    <div class="form-group">
                                        <BSRow>
                                            <label class="col-sm-2 col-form-label">Mimetype</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" @bind-value="@Entity.MimeType" readonly />
                                            </div>
                                        </BSRow>
                                    </div>

                                    <!-- size -->
                                    <div class="form-group">
                                        <BSRow>
                                            <label class="col-sm-2 col-form-label">Size</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" value="@Entity.GetFileSize()" readonly />
                                            </div>
                                        </BSRow>
                                    </div>

                                    <!-- folder -->
                                    <div class="form-group">
                                        <BSRow>
                                            <label class="col-sm-2 col-form-label">Folder</label>
                                            <div class="col-sm-10">
                                                <div class="input-group">
                                                    @if (Entity.Folder != null)
                                                    {
                                                        <input type="text" class="form-control" value="@Entity.Folder.Name" readonly />
                                                    }
                                                    else
                                                    {
                                                        <input type="text" class="form-control" value="" readonly />
                                                    }

                                                    <BSButton Color="BSColor.Light" OnClick="x => Modal.ShowAsync()">...</BSButton>
                                                </div>
                                            </div>
                                        </BSRow>
                                    </div>

                                    <!-- description -->
                                    <div class="form-group">
                                        <BSRow>
                                            <label class="col-sm-2 col-form-label">Description</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" style="height:20rem" @bind="Entity.Description"></textarea>
                                            </div>
                                        </BSRow>
                                    </div>

                                    @foreach (var m in Entity.Metaddata)
                                    {
                                        <h3>@m.Key</h3>
                                        @ComponentManager.CreateComponent(m.Value)
                                    }
                                </div>
                                <div class="col-md-6">
                                    @if (IsNewEntity == false)
                                    {
                                        <div>
                                            <InputFile OnChange="OnInputFileChange" />
                                        </div>
                                        @if (Entity.Hash != null)
                                        {
                                            <div style="margin: 1rem 0;">
                                                @AssetPreviewManager.CreateComponent(Entity)
                                            </div>
                                        }
                                    }
                                </div>
                            </BSRow>
                        </EditForm>
                    </div>
                </TabContent>
            </BSNavItem>
            <BSNavItem>
                <TabLabel>Referenced by</TabLabel>
                <TabContent>
                   <DragonFly.Client.Pages.ContentReferences.ReferencedBy Schema="@Asset.Schema" Id="Entity.Id" />           
                </TabContent>
            </BSNavItem>
        </BSNav>
    </div>
    <div class="footer-content">
        <div class="row">
            <div class="col-sm-4">
                <p>Created: @Entity.CreatedAt</p>
            </div>
            <div class="col-sm-4">
                <p>Modified: @Entity.ModifiedAt</p>
            </div>
            <div class="col-sm-4">
                <p>Published: @Entity.PublishedAt</p>
            </div>
        </div>
    </div>
}

@code {
    private BSModal Modal;

    private async Task FolderSelected(AssetFolder folder)
    {
        await Modal.HideAsync();

        Entity.Folder = folder;

        StateHasChanged();
    }
}