@page "/asset/{EntityId:guid}"
@page "/asset/create"
@page "/asset/create/{FolderId:guid}"
@inherits EntityDetailComponent<Asset>
@inject ComponentManager ComponentManager
@inject AssetPreviewManager AssetPreviewManager
@inject ISlugService SlugService

@if (Entity != null)
{
    <div class="content-header">
        <h1>Asset</h1>

        <Toolbar Items="ToolbarItems"></Toolbar>
    </div>

    <div class="scroll-content">
        <FluentTabs>
            <FluentTab Label="Details">
                <div>
                    <EditForm Model="Entity">
                        <div class="row">
                            <div class="col-md-7">
                                <!-- id -->
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">ID</label>
                                    <div class="col-sm-10">
                                        <FluentTextField Value="@Entity.Id.ToString()" ReadOnly="true" Appearance="FluentInputAppearance.Filled" />
                                    </div>
                                </div>

                                <!-- name -->
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Name</label>
                                    <div class="col-sm-10">
                                        <FluentTextField @bind-Value="@Entity.Name" />
                                    </div>
                                </div>

                                <!-- slug -->
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Slug</label>
                                    <div class="col-sm-10">
                                        <FluentTextField Value="@Entity.Slug" @onchange="x => Entity.Slug = SlugService.Transform(x.Value.ToString())" />
                                    </div>
                                </div>

                                <!-- alt -->
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Alt</label>
                                    <div class="col-sm-10">
                                        <FluentTextField @bind-value="@Entity.Alt" />
                                    </div>
                                </div>

                                <!-- mimetype -->
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Mimetype</label>
                                    <div class="col-sm-10">
                                        <FluentTextField @bind-value="@Entity.MimeType" ReadOnly="true" Appearance="FluentInputAppearance.Filled" />
                                    </div>
                                </div>

                                <!-- size -->
                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Size</label>
                                    <div class="col-sm-10">
                                        <FluentTextField Value="@Entity.GetFileSize()" ReadOnly="true" Appearance="FluentInputAppearance.Filled" />
                                    </div>
                                </div>

                                <!-- folder -->

                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Folder</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            @if (Entity.Folder != null)
                                            {
                                                <FluentTextField Value="@Entity.Folder.Name" ReadOnly="true" Appearance="FluentInputAppearance.Filled" />
                                            }
                                            else
                                            {
                                                <FluentTextField Value="" ReadOnly="true" Appearance="FluentInputAppearance.Filled" />
                                            }

                                            <FluentButton OnClick="OpenFolderSelectorAsync">...</FluentButton>
                                        </div>
                                    </div>
                                </div>

                                <!-- description -->

                                <div class="row">
                                    <label class="col-sm-2 col-form-label">Description</label>
                                    <div class="col-sm-10">
                                        <FluentTextArea @bind-Value="Entity.Description"></FluentTextArea>
                                    </div>
                                </div>

                                @foreach (var m in Entity.Metaddata)
                                {
                                    <h3>@m.Key</h3>
                                    @ComponentManager.CreateComponent(m.Value)
                                }
                            </div>
                            <div class="col-md-5">
                                @if (IsNewEntity == false)
                                {
                                    <div>
                                        <FluentInputFile OnInputFileChange="OnInputFileChange">
                                            <ChildContent>


                                                <div>
                                                    Drag files here you wish to upload,
                                                    or <label for="my-file-uploader">browse</label>
                                                    for them<span style="color: red;">*</span>.
                                                    <br />
                                                    <em>Maximum of 1 files allowed.</em>
                                                </div>
                                            </ChildContent>
                                        </FluentInputFile>
                                    </div>
                                    @if (Entity.Hash != null)
                                    {
                                        @AssetPreviewManager.CreateComponent(Entity)
                                    }
                                }
                            </div>
                        </div>
                    </EditForm>
                </div>
            </FluentTab>
            <FluentTab Label="Referenced by">
                <DragonFly.Client.Pages.ContentReferences.ReferencedBy Schema="@Asset.Schema" Id="Entity.Id" />
            </FluentTab>
        </FluentTabs>
    </div>
    <div class="footer-content">
        <div class="row">
            <div class="col-sm-4">
                <p>Created: @Entity.CreatedAt</p>
            </div>
            <div class="col-sm-4">
                <p>Modified: @Entity.ModifiedAt</p>
            </div>
            <div class="col-sm-4">
                <p>Published: @Entity.PublishedAt</p>
            </div>
        </div>
    </div>
}