@page "/content/{SchemaName}"
@inherits ContentItemListBase

<div class="content-header">
    @if (ListMode == EntityListMode.Default)
    {
        <Toolbar Items="ToolbarItems" />
    }

    <div style="display:flex; gap: 0.25rem;">
        <input class="form-control" type="text" style="flex:1;" value="@SearchPattern" @onchange="async (x) => { Page = 0; SearchPattern = x.Value.ToString(); await NavigateAsync(); }" />
        <BSButton Color="BSColor.Light" OnClick="NavigateAsync"><i class="fa-solid fa-magnifying-glass"></i></BSButton>
    </div>
</div>
<div class="scroll-content">
    <EditForm Model="this">
        <BSRow>
            <BSCol Column="auto">
                <QuerySelector ContentItemList="@this" />
            </BSCol>
            <BSCol Column="9">
                @if (SearchResult == null)
                {
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                }
                else
                {
                    <BSListGroup>
                        @foreach (ContentItem contentItem in SearchResult.Items)
                        {
                            <button class="list-group-item list-group-item-action" @onclick="x => OpenItem(contentItem)">
                                <BSRow>
                                    <div class="col-lg-auto">
                                        <i class="fa-solid fa-check" title="Published at @contentItem.PublishedAt" style="@(contentItem.PublishedAt == null ? "visibility: hidden" : "")"></i>
                                    </div>
                                    <div class="col-lg-auto">
                                        <i class="fa-solid fa-circle-exclamation text-danger" title="@contentItem.ValidationContext.GetMessage()" style="@(contentItem.ValidationContext.State == ValidationState.Valid ? "visibility: hidden" : "")"></i>
                                    </div>
                                    @* no list fields available? Show id field only *@
                                    @if (contentItem.Schema.ListFields.Any() == false)
                                    {
                                        <div class="col-lg-10">
                                            @contentItem.Id
                                        </div>
                                    }
                                    else
                                    {
                                        foreach (string field in contentItem.Schema.ListFields.Take(5))
                                        {
                                            <div class="col-lg">
                                                <div style="white-space: nowrap; overflow: hidden;">
                                                    @{
                                                        ContentField column = contentItem.Fields[field];
                                                    }

                                                    @if (column is ISingleValueField singleValueField)
                                                    {
                                                        <span>@singleValueField.Value</span>
                                                    }

                                                    else if (column is ReferenceField referenceField)
                                                    {
                                                        @if (referenceField.ContentItem != null)
                                                        {
                                                            <ReferenceFields ContentItem="@referenceField.ContentItem" />
                                                        }
                                                    }
                                                    else if (column is ComponentField embedField)
                                                    {
                                                        @if (embedField.ContentComponent != null)
                                                        {

                                                        }
                                                    }
                                                    else if (column is AssetField assetField)
                                                    {
                                                        @if (assetField.Asset != null && (assetField.Asset.IsImage() || assetField.Asset.IsSVG()))
                                                        {
                                                            <img src="@assetField.Asset.PreviewUrl" style="height:4rem;object-fit:contain" />
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                </BSRow>
                            </button>
                        }
                    </BSListGroup>
                }
            </BSCol>
        </BSRow>
    </EditForm>
</div>
<div>
    @if (SearchResult != null)
    {
        <BSPagination>
            <BSPaginationItem Href="#" PaginationLinkType="PaginationLinkType.PreviousIcon" />
            @for (int i = 0; i < CountPages; i++)
            {
                int i2 = i;

                <BSPaginationItem PaginationLinkType="PaginationLinkType.Custom" @onclick="x => Page = i2">@(i2 + 1)</BSPaginationItem>
            }

            <BSPaginationItem Href="#" PaginationLinkType="PaginationLinkType.NextIcon" />

        </BSPagination>
    }
</div>
