@page "/asset"
@inherits AssetListBase

    <div class="content-header">

        @if (ListMode == EntityListMode.Default)
        {
            <BSRow>
                <div class="col-lg-12">
                    <a href="asset/create/@SelectedFolder?.Id" class="btn btn-success">Create</a>
                </div>
            </BSRow>
        }

        @*@bind:event="oninput"*@
        <input class="form-control" type="text" style="width:100%" value="@SearchPattern" @onchange="async (x) => { Page = 0; SearchPattern = x.Value.ToString(); await NavigateAsync(); }" />
    </div>

    <div class="scroll-content">
        <BSRow>
            <BSCol LG="3">
                <div class="list-group">

                    @if (SelectedFolder != null)
                    {
                        <div class="list-group-item list-group-item-action" @onclick="x => OpenFolder(SelectedFolder.Parent)" style="cursor:pointer">
                            <span>...</span>
                        </div>
                    }

                    @foreach (var folder in Folders)
                    {
                        <div class="list-group-item list-group-item-action @(SelectedFolder == folder ? "active" : "")" @onclick="x => OpenFolder(folder)" style="cursor:pointer">
                            @folder.Name
                        </div>

                    }
                </div>
            </BSCol>
            <div class="col-lg-9">
                <div style="flex: 1">
                    @if (SearchResult == null)
                    {
                        <p><em>Loading...</em></p>
                    }
                    else
                    {
                        <div class="row">
                            @foreach (Asset asset in SearchResult.Items)
                            {
                                <div class="col-md-3">
                                    <div class="box-item zoom action" style="height:320px">
                                        <a @onclick="x => OpenItem(asset)">
                                            <div class="image">
                                                @if (string.IsNullOrEmpty(asset.PreviewUrl ) == false)
                                                {
                                                    <img src="@asset.PreviewUrl" alt="@asset.Name" />
                                                }
                                            </div>
                                            <div>
                                                <p class="title">@asset.Name</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }

                        </div>
                    }
                </div>
            </div>
        </BSRow>
    </div>