@page "/asset/{EntityId:guid}"
@page "/asset/create"
@page "/asset/create/{FolderId:guid}"
@inherits AssetDetailBase
@inject ComponentManager ComponentManager
@inject AssetPreviewManager AssetPreviewManager

@if (Entity != null)
{
    <div class="content-header">
        <h1>Asset</h1>

        <Toolbar Items="ToolbarItems"></Toolbar>
    </div>
    <div class="scroll-content">
        <EditForm Model="Entity">
            <BSRow>
                <div class="col-md-6">

                    <!-- id -->
                    <div class="form-group">
                        <BSRow>
                            <label class="col-sm-2 col-form-label">ID</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" @bind-value="@Entity.Id" readonly />
                            </div>
                        </BSRow>
                    </div>

                    <!-- name -->
                    <div class="form-group">
                        <BSRow>
                            <label class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" @bind-value="@Entity.Name" />
                            </div>
                        </BSRow>
                    </div>

                    <!-- slug -->
                    <div class="form-group">
                        <BSRow>
                            <label class="col-sm-2 col-form-label">Slug</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="@Entity.Slug" @onchange="x => Entity.Slug = Slugify.ToSlug(x.Value.ToString())" />
                            </div>
                        </BSRow>
                    </div>

                    <!-- alt -->
                    <div class="form-group">
                        <BSRow>
                            <label class="col-sm-2 col-form-label">Alt</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" @bind-value="@Entity.Alt" />
                            </div>
                        </BSRow>
                    </div>

                    <!-- mimetype -->
                    <div class="form-group">
                        <BSRow>
                            <label class="col-sm-2 col-form-label">Mimetype</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" @bind-value="@Entity.MimeType" readonly />
                            </div>
                        </BSRow>
                    </div>

                    <!-- size -->
                    <div class="form-group">
                        <BSRow>
                            <label class="col-sm-2 col-form-label">Size</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="@Entity.GetFileSize()" readonly />
                            </div>
                        </BSRow>
                    </div>

                    <!-- folder -->
                    <div class="form-group">
                        <BSRow>
                            <label class="col-sm-2 col-form-label">Folder</label>
                            <div class="col-sm-10">
                                @if (Entity.Folder != null)
                                {
                                    <input type="text" class="form-control" value="@Entity.Folder.Name" readonly />
                                }
                            </div>
                        </BSRow>
                    </div>

                    <!-- description -->
                    <div class="form-group">
                        <BSRow>
                            <label class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" style="height:20rem" @bind="Entity.Description"></textarea>
                            </div>
                        </BSRow>
                    </div>

                    @foreach (var m in Entity.Metaddata)
                    {
                        <h3>@m.Key</h3>
                        @ComponentManager.CreateComponent(m.Value)
                    }
                </div>
                <div class="col-md-6">
                    @if (IsNewEntity == false)
                    {
                        <div>
                            <InputFile OnChange="OnInputFileChange" />
                        </div>

                        @AssetPreviewManager.CreateComponent(Entity)
                    }
                </div>
            </BSRow>
        </EditForm>
    </div>
    <div class="content-footer">
        <div class="row">
            <div class="col-sm-4">
                <p>Created: @Entity.CreatedAt</p>
            </div>
            <div class="col-sm-4">
                <p>Modified: @Entity.ModifiedAt</p>
            </div>
            <div class="col-sm-4">
                <p>Published: @Entity.PublishedAt</p>
            </div>
        </div>
    </div>
}
