@page "/asset/{EntityId:guid}"
@page "/asset/create"
@page "/asset/create/{FolderId:guid}"
@inherits AssetDetailBase
@inject IImageAssetUrlService AssetPreview
@inject ComponentManager FieldComponentManager

@if (Entity != null)
{
    <div class="asset-detail">

        <div style="flex: 0">
            <h1>Asset</h1>

            <Toolbar Items="ToolbarItems"></Toolbar>
        </div>
        <div class="scroll-content" style="flex:1">
            <EditForm Model="Entity">
                <BSRow>
                    <div class="col-md-6">

                        <!-- id -->
                        <BSRow class="form-group">
                            <label class="col-sm-2 col-form-label">Id</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" @bind-value="@Entity.Id" readonly />
                            </div>
                        </BSRow>

                        <!-- name -->
                        <BSRow class="form-group">
                            <label class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" @bind-value="@Entity.Name" />
                            </div>
                        </BSRow>

                        <!-- slug -->
                        <BSRow class="form-group">
                            <label class="col-sm-2 col-form-label">Slug</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="@Entity.Slug" @onchange="x => Entity.Slug = Slugify.ToSlug(x.Value.ToString())" />
                            </div>
                        </BSRow>

                        <!-- alt -->
                        <BSRow class="form-group">
                            <label class="col-sm-2 col-form-label">Alt</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" @bind-value="@Entity.Alt" />
                            </div>
                        </BSRow>

                        <!-- mimetype -->
                        <BSRow class="form-group">
                            <label class="col-sm-2 col-form-label">Mimetype</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" @bind-value="@Entity.MimeType" readonly />
                            </div>
                        </BSRow>

                        <!-- size -->
                        <BSRow class="form-group">
                            <label class="col-sm-2 col-form-label">Size</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="@Entity.GetFileSize()" readonly />
                            </div>
                        </BSRow>

                        <!-- folder -->
                        <BSRow class="form-group">
                            <label class="col-sm-2 col-form-label">Folder</label>
                            <div class="col-sm-10">
                                @if (Entity.Folder != null)
                                {
                                    <input type="text" class="form-control" value="@Entity.Folder.Name" readonly />
                                }
                            </div>
                        </BSRow>

                        <!-- description -->
                        <BSRow class="form-group">
                            <label class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" style="height:20rem" @bind="Entity.Description"></textarea>
                            </div>
                        </BSRow>

                        @foreach (var m in Entity.Metaddata)
                        {
                            <h3>@m.Key</h3>
                            @FieldComponentManager.CreateComponent(m.Value)
                        }
                    </div>
                    <div class="col-md-6">
                        @if (IsNewEntity == false)
                        {
                            <div>
                                <InputFile OnChange="OnInputFileChange" />
                            </div>
                            <div>
                                @if (Entity.IsImage())
                                {
                                    <!-- image preview -->
                                    <img src="@AssetPreview.Resize(Entity, 800, 800)" />
                                }
                                else if (Entity.IsPdf())
                                {
                                    @*<img src="@AssetPreview.Pdf(Entity, 800, 800)" />*@
                                    <div id="pdf" style="width: 100%; height: 100%;">
                                        <iframe src="@Entity.GetDataUrl()" style="width: 100%; height: 100%;" frameborder="0" scrolling="no">
                                            <p>It appears your web browser doesn't support iframes.</p>
                                        </iframe>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </BSRow>
            </EditForm>
        </div>

    </div>
}
