@page "/asset/{EntityId:guid}"
@page "/asset/create/{FolderId:guid}"
@inherits AssetDetailBase
@inject IImageAssetUrlService AssetPreview
@inject AssetMetadataComponentManager AssetComponentManager

@if (Entity != null)
{
<div style="display:flex;flex-direction:column;height:100%">
   
        <div style="flex: 0">
            <h1>Asset</h1>

            <Toolbar Items="ToolbarItems"></Toolbar>
        </div>
        <div class="scroll-content" style="flex:1">
            <EditForm Model="Entity">
                <BSRow>
                    <div class="col-md-6">

                        <!-- id -->
                        <BSRow class="form-group">
                            <label class="col-sm-2 col-form-label">Id</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" @bind-value="@Entity.Id" readonly />
                            </div>
                        </BSRow>

                        <!-- name -->
                        <BSRow class="form-group">
                            <label class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" @bind-value="@Entity.Name" />
                            </div>
                        </BSRow>

                        <!-- slug -->
                        <BSRow class="form-group">
                            <label class="col-sm-2 col-form-label">Slug</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" @bind-value="@Entity.Slug" />
                            </div>
                        </BSRow>

                        <!-- alt -->
                        <BSRow class="form-group">
                            <label class="col-sm-2 col-form-label">Alt</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" @bind-value="@Entity.Alt" />
                            </div>
                        </BSRow>

                        <!-- mimetype -->
                        <BSRow class="form-group">
                            <label class="col-sm-2 col-form-label">Mimetype</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" @bind-value="@Entity.MimeType" readonly />
                            </div>
                        </BSRow>

                        <!-- size -->
                        <BSRow class="form-group">
                            <label class="col-sm-2 col-form-label">Size</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" @bind-value="@Entity.Size" readonly />
                            </div>
                        </BSRow>

                        <!-- folder -->
                        <BSRow class="form-group">
                            <label class="col-sm-2 col-form-label">Folder</label>
                            <div class="col-sm-10">
                                @if (Entity.Folder != null)
                                {
                                    <input type="text" class="form-control" value="@Entity.Folder.Name" readonly />
                                }
                            </div>
                        </BSRow>

                        <!-- description -->
                        <BSRow class="form-group">
                            <label class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" @bind="Entity.Description"></textarea>
                            </div>
                        </BSRow>

                        @foreach (var m in Entity.Metaddata)
                        {
                            <h3>@m.Key</h3>
                            @AssetComponentManager.CreateMetadataComponent(m.Value)
                        }
                    </div>
                    <div class="col-md-6">
                        @if (IsNewEntity == false)
                        {
                            <InputFile OnChange="OnInputFileChange" />

                            <div>
                                @if (Entity.IsImage())
                                {
                                    <!-- image preview -->
                                    <img src="@AssetPreview.Resize(Entity, 800, 800)" />
                                }
                                else if (Entity.IsPdf())
                                {
                                    <img src="@AssetPreview.Pdf(Entity, 800, 800)" />
                                }
                            </div>
                        }
                    </div>
                </BSRow>
            </EditForm>
        </div>
        
</div>
}
