@inject ComponentManager ComponentManager
@inject BlockManager BlockFieldManager

<BSOffCanvas @ref="_offCanvas" Placement="BlazorStrap.Placement.Right">
    <Header>Select block</Header>
    <Content>
        @foreach (BlockFactory block in BlockFieldManager.GetAllBlocks())
        {
            <div>
                <MudButton OnClick="e => Add(block)" style="width: 100%;text-align:left;margin-bottom:0.5rem"><i class="@block.CssIcon" style="margin-right: 0.5rem;" />@block.GetDisplayName()</MudButton>
            </div>
        }
    </Content>
</BSOffCanvas>

@if (Blocks != null)
{
	<div class="block-field-view">
        <div style="display: flex;gap:0.25rem">
            <MudButton class="block-field-add-btn" OnClick="e => BlockClipboard.CopyAsync(Blocks)" title="Copy all" StartIcon="new Icons.Filled.Size16.Copy()" />
            <MudButton class="block-field-add-btn" OnClick="e => BlockClipboard.PasteAsync(0, Blocks)" Disabled="Field.IsReadOnly" title="Paste" StartIcon="new Icons.Filled.Size16.ClipboardPaste()" style="flex:0" />
            <MudButton class="block-field-add-btn" OnClick="e => OpenModal(0)" Disabled="Field.IsReadOnly" title="Insert block" style="flex:1" StartIcon="new Icons.Filled.Size16.Add()" />
        </div>

		@for (int i = 0; i < Blocks.Count; i++)
		{
			int curIndex = i;
            DragonFly.Block block = Blocks[curIndex];

			<div class="block-field">
				<div class="block-field-options">
                    <span class="block-label"><i class="@block.CssIcon" style="margin-right: 0.5rem;" />@block.Name</span>
                    <MudButton OnClick="e => Blocks.MoveUp(block)" Disabled="Field.IsReadOnly" title="Up" StartIcon="new Icons.Filled.Size16.ArrowUp()" />
                    <MudButton OnClick="e => Blocks.MoveDown(block)" Disabled="Field.IsReadOnly" title="Down" StartIcon="new Icons.Filled.Size16.ArrowDown()" />
                    <MudButton OnClick="e => Blocks.Remove(block)" Disabled="Field.IsReadOnly" title="Remove" StartIcon="new Icons.Filled.Size16.Delete()" />
                    <MudButton OnClick="e => BlockClipboard.CopyAsync(new[] { block })" title="Copy" StartIcon="new Icons.Filled.Size16.Copy()" />
				</div>
				<div class="block-field-content">
                    @ComponentManager.CreateComponent(block)
				</div>
			</div>

            <div style="display: flex;gap:0.25rem">
                <MudButton class="block-field-add-btn" OnClick="e => BlockClipboard.PasteAsync(curIndex + 1, Blocks)" Disabled="Field.IsReadOnly" title="Paste" style="flex:0" StartIcon="new Icons.Filled.Size16.ClipboardPaste()" />
                <MudButton class="block-field-add-btn" OnClick="e => OpenModal(curIndex + 1)" Disabled="Field.IsReadOnly" title="Insert block" style="flex:1" StartIcon="new Icons.Filled.Size16.Add()" />
            </div>
		}
	</div>
}

@code {
    [CascadingParameter]
    public FieldComponent<BlockField> Field { get; set; }

    private BSOffCanvas? _offCanvas;

    public int Position { get; set; }

    public BSModal Modal { get; set; }

    [Parameter]
    public IList<DragonFly.Block> Blocks { get; set; }

    public async Task OpenModal(int position)
    {
        Position = position;

        await _offCanvas.ToggleAsync();
    }

    private async Task Add(BlockFactory factory)
    {
        await _offCanvas.ToggleAsync();

        Blocks.Insert(Position, factory.CreateBlock());
    }
}
