@inject ComponentManager ComponentManager
@inject BlockManager BlockFieldManager

<BSOffCanvas @ref="_offCanvas" Placement="BlazorStrap.Placement.Right">
    <Header>Select block</Header>
    <Content>
        @foreach (BlockFactory block in BlockFieldManager.GetAllBlocks())
        {
            <div>
                <MudButton OnClick="e => Add(block)" style="width: 100%;text-align:left;margin-bottom:0.5rem"><i class="@block.CssIcon" style="margin-right: 0.5rem;" />@block.BlockName</MudButton>
            </div>
        }
    </Content>
</BSOffCanvas>

@if (Blocks != null)
{
    <div>
        <div class="mb-1">
            <MudButton OnClick="e => OpenModal(0)" Title="Insert block" StartIcon="@Icons.Material.Filled.Add" />
        </div>

        <div class="row">
            <div class="col">
                <BSListGroup>

                    @for (int i = 0; i < Blocks.Count; i++)
                    {
                        int curIndex = i;
                        DragonFly.Block block = Blocks[curIndex];

                        <BSListGroupItem IsButton="true" OnClick="() => SelectedBlock = block">
                            <div class="block-field-options">
                                <span class="block-label"><i class="@block.CssIcon" style="margin-right: 0.5rem;" />@block.Name</span>
                                <MudButton OnClick="@(e => Blocks.MoveUp(block))" title="Up" StartIcon="@Icons.Material.Filled.ArrowUpward" />
                                <MudButton OnClick="@(e => Blocks.MoveDown(block))" title="Down" StartIcon="@Icons.Material.Filled.ArrowDownward" />
                                <MudButton OnClick="@(e => Blocks.Remove(block))" title="Remove" StartIcon="@Icons.Material.Filled.Delete" />
                            </div>
                            <div class="block-field-content">
                            </div>
                        </BSListGroupItem>
                    }
                </BSListGroup>
            </div>
            <div class="col">
                @if (SelectedBlock != null)
                {
                    @ComponentManager.CreateComponent(SelectedBlock)
                }
            </div>
        </div>
    </div>
}

@code {

    private BSOffCanvas? _offCanvas;

    public int Position { get; set; }

    public BSModal Modal { get; set; }

    [Parameter]
    public IList<DragonFly.Block> Blocks { get; set; }

    private DragonFly.Block _selectedBlock;

    public DragonFly.Block SelectedBlock
    {
        get => _selectedBlock;
        set
        {
            _selectedBlock = value;
        }
    }

    public async Task OpenModal(int position)
    {
        Position = position;

        //await Modal.ShowAsync();

        await _offCanvas.ToggleAsync();
    }

    private async Task Add(BlockFactory factory)
    {
        await _offCanvas.ToggleAsync();

        Blocks.Insert(Position, factory.CreateBlock());
    }
}