@model GridBlock

@if (Model.Columns.Any() && Model.Rows.Any())
{
    <div class="block grid-block" style="grid-template-columns: @Model.Columns.ToCssGridTemplate(); grid-template-rows: @Model.Rows.ToCssGridTemplate()">
        @foreach (GridItem item in Model.Items)
        {
            <div class="grid-item" style="grid-column: @item.ColumnStart / @item.ColumnEnd; grid-row: @item.RowStart / @item.RowEnd">
                @Html.DisplayFor(x => item.Block, item.Block.GetType().Name)
            </div>
        }
    </div>
}
