@inherits FieldOptionsComponent<IntegerFieldOptions>

<BSCard>
    <BSCard CardType="CardType.Body">
        <BSCard CardType="CardType.Title">

        </BSCard>
        <BSRow class="form-group">
            <label class="col-sm-2 col-form-label">Required</label>
            <div class="col-sm-8">
                <BSInputCheckbox @bind-Value="@Options.IsRequired" />
            </div>
        </BSRow>
        <BSRow class="form-group">
            <label class="col-sm-2 col-form-label">Searchable</label>
            <div class="col-sm-8">
                <BSInputCheckbox @bind-Value="@Options.IsSearchable" />
            </div>
        </BSRow>
        <BSRow class="form-group">
            <label class="col-sm-2 col-form-label">Default value</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" @bind-value="@Options.DefaultValue" />
            </div>
        </BSRow>
        <BSRow class="form-group">
            <label class="col-sm-2 col-form-label">Min value</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" @bind-value="@Options.MinValue" />
            </div>
        </BSRow>
        <BSRow class="form-group">
            <label class="col-sm-2 col-form-label">Max value</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" @bind-value="@Options.MaxValue" />
            </div>
        </BSRow>
    </BSCard>
</BSCard>
