@inherits FieldOptionsComponent<StringFieldOptions>

<BSCard>
    <BSCard CardType="CardType.Body">
        <BSCard CardType="CardType.Title">

        </BSCard>
        <BSRow class="form-group">
            <label class="col-sm-2 col-form-label">Required</label>
            <div class="col-sm-8">
                <MudCheckBox @bind-Value="@Options.IsRequired" />
            </div>
        </BSRow>
        <BSRow class="form-group">
            <label class="col-sm-2 col-form-label">Index</label>
            <div class="col-sm-8">
                <MudCheckBox @bind-Value="@Options.HasIndex" />
            </div>
        </BSRow>
        <BSRow class="form-group">
            <label class="col-sm-2 col-form-label">Default value</label>
            <div class="col-sm-8">
                <MudTextField @bind-Value="@Options.DefaultValue" />
            </div>
        </BSRow>
        <BSRow class="form-group">
            <label class="col-sm-2 col-form-label">Minimal length</label>
            <div class="col-sm-8">
                <MudNumericField @bind-Value="@Options.MinLength" />
            </div>
        </BSRow>
        <BSRow class="form-group">
            <label class="col-sm-2 col-form-label">Maximal length</label>
            <div class="col-sm-8">
                <MudNumericField @bind-Value="@Options.MaxLength" />
            </div>
        </BSRow>
    </BSCard>
</BSCard>