@inherits AssetMetadataComponent<VideoMetadata>

<div class="row">
    <label class="col-sm-2 col-form-label">
        Format
    </label>
    <div class="col-sm-10">
        <MudTextField Value="@Metadata.FormatName" ReadOnly="true" Appearance="FluentInputAppearance.Filled" />
    </div>
</div>

<div class="row">
    <label class="col-sm-2 col-form-label">
        Duration
    </label>
    <div class="col-sm-10">
        <MudTextField Value="@Metadata.Duration?.ToString()" ReadOnly="true" Appearance="FluentInputAppearance.Filled" />
    </div>
</div>

@if (Metadata.VideoInfo != null)
{
    <h4>Primary video stream</h4>

    <div class="row">
        <label class="col-sm-2 col-form-label">
            Codec
        </label>
        <div class="col-sm-10">
            <MudTextField Value="@Metadata.VideoInfo.Codec" ReadOnly="true" Appearance="FluentInputAppearance.Filled" />
        </div>
    </div>

    <div class="row">
        <label class="col-sm-2 col-form-label">
            Width
        </label>
        <div class="col-sm-10">
            <MudTextField Value="@Metadata.VideoInfo.Width.ToString()" ReadOnly="true" Appearance="FluentInputAppearance.Filled" />
        </div>
    </div>

    <div class="row">
        <label class="col-sm-2 col-form-label">
            Height
        </label>
        <div class="col-sm-10">
            <MudTextField Value="@Metadata.VideoInfo.Height.ToString()" ReadOnly="true" Appearance="FluentInputAppearance.Filled" />
        </div>
    </div>

    <div class="row">
        <label class="col-sm-2 col-form-label">
            FPS
        </label>
        <div class="col-sm-10">
            <MudTextField Value="@Metadata.VideoInfo.Fps.ToString()" ReadOnly="true" Appearance="FluentInputAppearance.Filled" />
        </div>
    </div>
}

@if (Metadata.AudioInfo != null)
{
    <h4>Primary audio stream</h4>
    <div class="row">
        <label class="col-sm-2 col-form-label">
            Codec
        </label>
        <div class="col-sm-10">
            <MudTextField Value="@Metadata.AudioInfo.Codec" ReadOnly="true" Appearance="FluentInputAppearance.Filled" />
        </div>
    </div>

    <div class="row">
        <label class="col-sm-2 col-form-label">
            Channel layout
        </label>
        <div class="col-sm-10">
            <MudTextField Value="@Metadata.AudioInfo.ChannelLayout" ReadOnly="true" Appearance="FluentInputAppearance.Filled" />
        </div>
    </div>

    <div class="row">
        <label class="col-sm-2 col-form-label">
            Channels
        </label>
        <div class="col-sm-10">
            <MudTextField Value="@Metadata.AudioInfo.Channels.ToString()" ReadOnly="true" Appearance="FluentInputAppearance.Filled" />
        </div>
    </div>
}