@inherits AssetMetadataComponent<VideoMetadata>

<div class="form-group">
    <BSRow>
        <BSLabel class="col-sm-2 col-form-label">
            Format
        </BSLabel>
        <div class="col-sm-10">
            <BSInput InputType="InputType.Text" Value="@Metadata.FormatName" IsReadonly="true" />
        </div>
    </BSRow>
</div>

<div class="form-group">
    <BSRow>
        <BSLabel class="col-sm-2 col-form-label">
            Duration
        </BSLabel>
        <div class="col-sm-10">
            <BSInput InputType="InputType.Text" Value="@Metadata.Duration" IsReadonly="true" />
        </div>
    </BSRow>
</div>

@if (Metadata.VideoInfo != null)
{
    <h4>Primary video stream</h4>
    <div class="form-group">
        <BSRow>
            <BSLabel class="col-sm-2 col-form-label">
                Codec
            </BSLabel>
            <div class="col-sm-10">
                <BSInput InputType="InputType.Text" Value="@Metadata.VideoInfo.Codec" IsReadonly="true" />
            </div>
        </BSRow>
    </div>   

    <div class="form-group">
        <BSRow>
            <BSLabel class="col-sm-2 col-form-label">
                Width
            </BSLabel>
            <div class="col-sm-10">
                <BSInput InputType="InputType.Text" Value="@Metadata.VideoInfo.Width" IsReadonly="true" />
            </div>
        </BSRow>
    </div>

    <div class="form-group">
        <BSRow>
            <BSLabel class="col-sm-2 col-form-label">
                Height
            </BSLabel>
            <div class="col-sm-10">
                <BSInput InputType="InputType.Text" Value="@Metadata.VideoInfo.Height" IsReadonly="true" />
            </div>
        </BSRow>
    </div>

    <div class="form-group">
        <BSRow>
            <BSLabel class="col-sm-2 col-form-label">
                FPS
            </BSLabel>
            <div class="col-sm-10">
                <input type="text" class="form-control" @bind-value="@Metadata.VideoInfo.Fps" readonly />
            </div>
        </BSRow>
    </div>
}

@if (Metadata.AudioInfo != null)
{
    <h4>Primary audio stream</h4>
    <div class="form-group">
        <BSRow>
            <BSLabel class="col-sm-2 col-form-label">
                Codec
            </BSLabel>
            <div class="col-sm-10">
                <input type="text" class="form-control" @bind-value="@Metadata.AudioInfo.Codec" readonly />
            </div>
        </BSRow>
    </div>

    <div class="form-group">
        <BSRow>
            <BSLabel class="col-sm-2 col-form-label">
                Channel layout
            </BSLabel>
            <div class="col-sm-10">
                <input type="text" class="form-control" @bind-value="@Metadata.AudioInfo.ChannelLayout" readonly />
            </div>
        </BSRow>
    </div>

    <div class="form-group">
        <BSRow>
            <BSLabel class="col-sm-2 col-form-label">
                Channels
            </BSLabel>
            <div class="col-sm-10">
                <input type="text" class="form-control" @bind-value="@Metadata.AudioInfo.Channels" readonly />
            </div>
        </BSRow>
    </div>
}